@using DesignPatterns.Command.Commands;

@{
    ViewData["Title"] = "Index";
}

@model List<Product>

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-controller="Products" asp-route-type="@((int)EFileType.Excel)" asp-action="CreateFile">Create Excel</a>

    <a class="btn btn-primary" asp-controller="Products" asp-route-type="@((int)EFileType.Pdf)" asp-action="CreateFile">Create Pdf</a>

    <a class="btn btn-primary" asp-controller="Products" asp-action="CreateFiles">Create Excel and Pdf</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
               Price
            </th>
            <th>
               Stock
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Stock
                </td>
            </tr>
        }
    </tbody>
</table>

